* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #201f1f;
}

nav{
    margin-left: 200px;
    

}
#fontti{
    font-family: "Trirong", serif;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    text-decoration: none;
}

nav li {
    list-style-type: none;   
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display: inline;
    margin-left: 10px;
}

nav li :hover{
    color: rgb(215, 207, 197);
    text-decoration: none;
}

header{
    display: flex;
    text-align: left;  
}

header a {
    color: black;
    text-decoration: none;
}

img#logo1{
    margin-left: 200px;
    margin-bottom: 50px;
    flex: 1;
    max-width: 70px;
    max-height: 70px;
}
header h1{
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    margin-top: 8px;
    font-size: 40px;
    flex-grow: 1;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #2a2828;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 20px;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color:  rgb(215, 207, 197);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: o.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #933eb4;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: rgb(215, 207, 197);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.footcont {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

footer{
    font-family: "Trirong", serif;
    background-color: #201f1f;
    color: #fff;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  rgb(224, 145, 48);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li {
    color: rgb(202, 196, 188);
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: rgb(202, 196, 188);
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color:  rgb(215, 207, 197);
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #333;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #333;
    background-color: #fff;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm {
        width: 100%;
    }
}

@media (max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px){
    .footer-col {
        width: 100%;
    }
}