
a{
    color: rgb(253, 253, 253);
    text-decoration: none;
}


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #201f1f;
}


header{
    display: flex;
    text-align: left;
   
}

img#logo1{
    margin-left: 200px;
    margin-bottom: 50px;
    flex: 1;
    max-width: 70px;
    max-height: 70px;
}
header h1{
    font-family: "Audiowide", sans-serif;
    color: rgb(254, 254, 254);
    font-weight: bold;
    margin-top: 8px;
    flex-grow: 1;
}

section.juomat{
    background-color: rgb(255, 255, 255);
    padding: 1em;
}
section.Kuvat{
    display: flex;
    flex-grow: 2;

}



#fontti{
    font-family: "Trirong", serif;
    font-weight: bold;
}





nav{
    margin-left: 200px;

}



ul {
            list-style-type: none;
            margin: 0;
            padding: 1em;
            overflow: hidden;
        
            text-decoration: none;
}


li {
    list-style-type: none;   
            display: block;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            display: inline;
            margin-left: 10px;
}

li :hover{
    color: rgb(215, 207, 197);
    text-decoration: none;
}




img{
    margin: auto;

}
.artikkeli{
    
    text-align: center;
    padding: 100px;
    
}
.artikkeli p{
    color: aliceblue;
    margin: 5px;
    font-size: 25px;
}

footer{
    font-family: "Trirong", serif;
    color: #ffffff;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
   
}
.juomat{
    color: rgb(255, 255, 255);
    font-family: "Trirong", serif;
    font-weight: bold;
    text-align: center;
    background-image: url('/images/taustajuomille.png');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.batteryt{
    max-width: 250px;
    max-height: 250px;
  

}
.batteryt1{
    max-width: 200px;
    max-height: 200px;
  

}

/* -------------SLIDE SHOW   */


  

 
.wrapper {

    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    background-color: #201f1f;
}
.wrapper>div {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: animate 15s infinite;
    opacity: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.wrapper>div:nth-child(2) {
    animation-delay: 5s;
}
.wrapper>div:nth-child(3) {
    animation-delay: 10s;
}

@keyframes animate {
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        transform: scale(1);
    }
}
@media (max-width: 768px) {
    .wrapper {
        margin-left: 5%; /* Adjust margin for smaller screens */
        width: 90%; /* Adjust the width for smaller screens */
    }
}