a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    padding: 0;
    margin: 0;
    background-color: #201f1f;
    
}
#fontti{
    font-family: "Trirong", serif;
    font-weight: bold;
}


header{
    display: flex;
    text-align: left;
   
}

img#logo1{
    margin-left: 200px;
    margin-bottom: 50px;
    flex: 1;
    max-width: 70px;
    max-height: 70px;
}
header h1{
    font-family: "Audiowide", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 8px;
    flex-grow: 1;
}


nav{
    margin-left: 200px;
    

}


nav ul {
            list-style-type: none;
            margin: 0;
            padding: 1em;
            overflow: hidden;
           
            text-decoration: none;
}


nav li {
    list-style-type: none;   
            display: block;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            display: inline;
            margin-left: 10px;
}

nav li :hover{
    color: rgb(215, 207, 197);
    text-decoration: none;
}
.kuvia{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    
    background-image: url('../images/taustajuomille.png');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.batteryt{
    max-width: 350px;
    max-height: 400px;
    
}
.tölkki1{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 500px;
    max-height: 300px;
}

.footcont {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

footer{
    font-family: "Trirong", serif;
    background-color: #201f1f;
    color: #fff;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:  rgb(179, 173, 165);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li {
    color: rgb(202, 196, 188);
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: rgb(202, 196, 188);
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color:  rgb(215, 207, 197);
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #333;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #333;
    background-color: #fff;
}


@media (max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px){
    .footer-col {
        width: 100%;
    }
    header img#logo1 {
        width: 150px;
        padding-top: 10px;
    }
}


