a{
    color: rgb(3, 3, 3);
    text-decoration: none;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    padding: 0;
    margin: 0;
    background-color: dimgray;
}
#fontti{
    font-family: "Trirong", serif;
    font-weight: bold;
}


header{
    display: flex;
    text-align: left;
   
}

img#logo1{
    margin-left: 200px;
    margin-bottom: 50px;
    flex: 1;
    max-width: 70px;
    max-height: 70px;
}
header h1{
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    margin-top: 8px;
    flex-grow: 1;
}


nav{
    margin-left: 200px;
    

}


ul {
            list-style-type: none;
            margin: 0;
            padding: 1em;
            overflow: hidden;
           
            text-decoration: none;
}


li {
    list-style-type: none;   
            display: block;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            display: inline;
            margin-left: 10px;
}

li :hover{
    color: rgb(215, 207, 197);
    text-decoration: none;
}
.kuvia{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
    background-image: url('/Team2_Projekti/images/backround.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.batteryt{
    max-width: 350px;
    max-height: 400px;
    
}
.tölkki1{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 500px;
    max-height: 300px;
}
footer{
    
    font-family: "Trirong", serif;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
   
}


