head{

}

title{

}



nav{

}

ul a{
    display: block;
            padding: 8px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            display: inline;
}

h1{

}

img{

}