a{
    color: rgb(3, 3, 3);
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    text-align: left;
   
}

img#logo1{
    flex: 1;
    max-width: 80px;
    max-height: 80px;
}
header h1{
    flex-grow: 1;
}




nav{
    

}



ul {
            list-style-type: none;
            margin: 0;
            padding: 1em;
            overflow: hidden;
            background-color: rgb(253, 251, 251);
            text-decoration: none;
}


li {
    list-style-type: none;   
            display: block;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            display: inline;
            margin-left: 10px;
}

li :hover{
    color: rgb(227, 161, 81);
    text-decoration: none;
}




img{
    margin: auto;

}
article{
    background-color: black;
    text-align: center;
    padding: 100px;
    
}
article p{
    color: aliceblue;
    margin: 5px;
}

footer{
    text-align: center;
    background-color: dimgrey;
}
